* {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}
.topnav {
    display: flex;
    overflow: hidden;    
}
.topnav a {
    display: flex; 
    text-decoration: none;
    padding: 10px; 
    background-color:rgb(195, 188, 238);
    width: 100%;
    color: black;
    justify-content: space-around;
}
.drop-down {
    width: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 5px 10px grey;
}
.drop-down:hover .dropdown-content {
    display: block;
}
.dropdown-content a  {
    float: none;
    color:black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 12px 16px;
}
#top-box {
    background-image: linear-gradient(to bottom, rgba(195, 188, 238, 0.8), rgba(95,69,243,0.13)), url(gloves.jpg);
    background-size: cover;
    height: 400px;
    position: relative;
}
#headline {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    height: 400px;
}
#info-container-1, #info-container-2 {
    display: inline-flex;
    width: 50%;
    padding: 10px 5px;
}
#info-container-2 {
    float: right;
}
footer p {
    background-color: transparent;
    display: inline-flex;
    float: right;
}
footer {
    margin-top: 30px;
}
.footerlinks a {
    text-decoration: none;
    background-color: transparent;
}

