* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    font-family: 'Manrope', sans-serif;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(35, 200, 189, 0.73)),url(computer.jpg);
    width: 100vw;   
    height: 700px;
    background-size: cover;
    margin: 0;
}
h1 {
    padding-top: 30px; 
    -webkit-text-stroke: 1px rgb(85, 153, 177);
    color: white;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       font-size: 40px;
}
#info-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;   
    text-align: center; 
    background-color: rgb(102, 174, 150);
    width: 75%;
    margin: 0 auto;
    height: 200px; 
    border-radius: 20px;
} 
#info-container div  {
    padding: 20px; 
} 
#info-container div a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
} 
#nav {
    list-style-type: none;
    background-color: rgb(225, 224, 224);
    height: 45px;
    position: fixed; 
    top: 0;
    width: 100%; 
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.nav-item {
    float: left; 
    border-right: 1px solid rgb(198, 197, 197);
}
.nav-item a {
    color: rgb(89, 88, 88);
    display: block;
    text-decoration: none;
    padding: 14px 16px;
}
.nav-item a:hover:not(.active) {
    background-color: aliceblue;
}
.active {
    background-color: aquamarine;
}
footer {
    position: relative;
    bottom: -220px;
}
.footer-list {
    list-style-type: none;
    display: flex;
    float: right;
}
.footer-item {
    padding-right: 20px; 
}
.footer-item a {
    text-decoration: none;
    color:rgb(89, 88, 88)
}
@media screen and (min-width:250px) and (max-width:480px) {
    #info-container{
      grid-template-columns: repeat(1,1fr);
      height: 50%;
      margin-bottom: 10px;
    }
    h1 {
        font-size: 25px;
    }
    .nav-item {
        float: left; 
        border-right: 1px solid rgb(198, 197, 197);
        font-size: 10px;
    }
    body {
        margin: 0;
    }
  }

  @media screen and (min-width:481px) and (max-width:768px) {
    #info-container{
      grid-template-columns: repeat(3,1fr);
    }
    body {
        margin: 0;
    }
}