* {
    box-sizing: border-box;
}
body {
    font-family: 'Manrope', sans-serif;
    background: linear-gradient(to right, rgb(86, 208, 213), rgb(0, 70, 128));
}
#nav {
    list-style-type: none;
    background-color: rgb(225, 224, 224);
    height: 45px;
    position: fixed; 
    top: 0;
    width: 100%; 
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.nav-item {
    float: left; 
    border-right: 1px solid rgb(198, 197, 197);
}
.nav-item a {
    color: rgb(89, 88, 88);
    display: block;
    text-decoration: none;
    padding: 14px 16px;
}
.nav-item a:hover:not(.active) {
    background-color: aliceblue;
}
.active {
    background-color: aquamarine;
}
#small-container {
    width: 550px;
    height: 350px;
    border: 1px solid white; 
    position: relative; 
    top: 100px;
    left: 350px; 
    background-color: white; 
    box-shadow: 5px 10px 18px #03030388;
    border-radius: 4px;
}
h1 {
    margin-left: 2%;
}
form {
    text-align: center;
}
label {
    display: inline-block;
}
#contact {
    width: 95%;
}
select, input[type=text] {
    height: 10%;
    padding: 2%;
    margin: 2%;
}
input[type=submit] {
    width: 20%;
    height: 5%;
    background: linear-gradient(to right, rgb(86, 208, 213), rgb(26, 103, 166));
    color: white;
    margin-top: 5%;
}
@media only screen and (max-width: 600px) {
    #small-container {
        position: relative;
        left: 0;
        width: 100%;
    }
    input[type=text] {
        display: block;
        margin: 0 auto;
    }
    .nav-item {
        float: left;
        font-size: x-small;
    }
}
@media screen and (max-width: 600px) and (min-width: 900px) {
    #small-container {
        position: relative;
        left: 50px;
        width: 100%;
    }
    input[type=text] {
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width: 900px) and (min-width: 1200px) {
    #small-container {
        position: relative;
        left: 0;
        width: 100%;
    }
    input[type=text] {
        display: block;
        margin: 0 auto;
    }
    .nav-item {
        float: left;
        font-size: x-small;
    }
}
