* {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    margin: 0;

}
body {
    text-align: center; 
    background-image: linear-gradient(to right, rgba(255,231,154,1), rgba(255,231,154,0)), 
    url(poppies2.jpg);
    background-size: cover;
}
h2 {
    margin-bottom: 0;
}
form {
    padding: 10px; 
}
label, select, input, i {
    color: black;
    border: none;
}
#fname, #lname {
    border-bottom: 1px solid black;
}
#contact-us {
    margin-bottom: 5px;
}
#button {
    margin-top: 5%;
    width: 50%;
    height: 30px;
    text-transform:uppercase;
    background-color: #ffe79a;
}
fieldset {
    background-color: transparent;
    border: transparent;
}
#info-container {
    width: 50vw;
    padding-right: 10%;
}
#main-container {
    display: flex;
    padding: 50px;
}
.topnav {
    display: flex;
    overflow: hidden;   

}
.topnav a {
    display: flex; 
    text-decoration: none;
    padding: 10px; 
    background-color: #ffe79a;
    width: 100%;
    color: #ffa952;
    justify-content: space-around;
}
.drop-down {
    width: 30vw;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    box-shadow: 0px 5px 10px grey;
}
.drop-down:hover .dropdown-content {
    display: block;
}
.dropdown-content a  {
    float: none;
    color:#ffa952;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 12px 16px;
}
footer {
    position:absolute;
    bottom: 0;
    left:0;
    right: 0;
}
#checkbox {
    padding-right: 5px;
}
@media (max-width: 800px) {
    #main-container {
      flex-direction: column;
    }
  }
  @media (max-width: 800px) {
    #info-container {
        width: 85vw;
        text-align: center;

    }
    .drop-down {
        font-size: 15px;
    }
  }
